/*
*  Styles for homepage
*
*/
@import "../base";
@import "compass";
@import "zen";
@import "profiles";
$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";

body {
  background-image: url('../images/tree-background.png');
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:100% auto;
  -webkit-text-stroke: 0.2px;
}

.site-header{
  .site-name{
    display: none;
  }
}

main {
  background-image: -webkit-linear-gradient(bottom,rgba(255,255,255,0.5) 0%,#ffffff 50%);
}

.clean-2x2 {
  h2 {
    color: $huxleyGreenFifth;
  }
  .clean-2x2-top{
    padding-left: 12px;
    padding-right: 12px;
  }
  .clean-2x2-left {
  	.homepage-opening-blurb {
  		margin-bottom:1.5em;
  		h2 {
        margin-top: 0px;
      }
  	}
  }
}

.apply-style{
  padding-top: 30px;

  a {
    line-height: 1;
    text-decoration: none;
    color: white;
    font-size: 22px;
    background-color: $huxleyGreenSecond;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 6px;
  }
}
