@import "../base";

.panel-pane.pane-entity-field.pane-node-field-department h2, .panel-pane.pane-entity-field.pane-node-body h2 {color:$huxleyOrange;}

header.page-title h1 {color:$huxleyGreen;}

figure.field-photo {
  float: right;
}

.field-preferred-name {
  float: left;
  font-size: 1.6em;
  color: $huxleyOrange;
  margin-right: .4em;
  padding-top: .4em;
  padding-bottom: .4em;
}

.field-last-name {
  font-size: 1.6em;
  color: $huxleyOrange;
  padding-top: .4em;
  padding-bottom: .4em;
}

.panel-pane.pane-entity-field.pane-node-body h3, .panel-pane.pane-entity-field.pane-node-field-graduating-class h3, .panel-pane.pane-entity-field.pane-node-field-hometown h3 {
  font-size: .8em;
  font-weight: bold;
}

.field-pull-quote {
  font-size: 1.4em;
  line-height: 1.5em;
  padding: 8px;
  margin: 2em;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  font-family: Georgia, serif;
  color: gray;
}

.field-pull-quote:before {
  content:'\201C';
  color: $huxleyGreen;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
}

.field-pull-quote:after {
  content:'\201D';
  color: $huxleyGreen;
  font-size: 4em;
  vertical-align: -.7em;
  margin-left: .2em;
}

@media (max-width: 650px){
  figure.field-photo {
    text-align: center;
    float: none;
    width: 90%;
    display: block;
  }
}
