
@import 'compass';
@import 'zen';
@import 'breakpoint';

$zen-box-sizing: border-box;
$zen-auto-include-item-base: false;
$zen-auto-include-flow-item-base: false;

@import 'modules/all';

/* *******************
   Color Variables
******************* */

$wwuBlue: #003f87;
$wwuLtblue: #0083d6;
$wwuRed: #cc2d30;
$wwuYellow: #ffc61e;
$wwuLime: #bad80a;
$wwuGreen: #006b3f;

$wwuGrayBlue: #4B689C;
//Vetted for accessibility via contrast
$wwuOceanBlue: #0070b6;

// Huxley Colors
// Color contrast approved versions
// Contrast approved for color text on white bg, or white text on color bg
$huxleyOrange: #a85f27; // Original, non-approved contrast: #d17d3c
$huxleyRed: #895A5F;
$huxleyBlue: #3D4880; // Don't use on web - too similar to Western blue
$huxleyBrown: #876D4F;
$huxleyGreen: #787855;

// Darker "steps" of $huxleyGreen (for mobile navigation use, for example)
$huxleyGreenSecond: #656547;
$huxleyGreenThird: #53533B;
$huxleyGreenFourth: #41412E;
$huxleyGreenFifth: #2F2F20;

$muli: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;

/* *******************
 		Mixins
******************* */

@mixin hide-text-bg-img {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin multi-line-flow-link {
  line-height:1.25; margin-top:.33em; padding-bottom:.17em;
}

@mixin bar-arrow {
  content:'';
  display:block;
  position:relative;
  right:-17.275em;
  top:-2.25em;
  border-top: 1.3em solid transparent;
  border-left: .5em solid $wwuLtblue;
  border-bottom: 1.3em solid transparent;
}
